@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: white;
  text-shadow: 0px 1px 3px black;
}

/********************************/
//       HEADER
/********************************/

h1 {
  font-size: 4rem;
  margin-bottom: 1em;
  transition: 0.3s font-size;
}

header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6em;
  padding: 0 3em;

  background-image: $gradient-color;
  box-shadow: $bx-sh-lt;

  transition: all 0.3s;

  @media (max-width: $mq-md-screen) {
    height: auto;
    flex-direction: column;
  }

  @media (max-device-width: $mq-s-screen) {
    padding-top: 3em;
  }
}

/********************************/
//      Estilos del LOGO
/********************************/

//Enlace exterior logo <a>
.home-link {
  display: block;
  height: 50px;
  width: 500px;
  //border: 2px dotted pink; // REMOVEME
  @media (max-width: $mq-md-screen) {
    margin-bottom: 1em;
  }
}

.logo-container {
  //border: 4px solid blue; // REMOVEME

  height: 50px;
  width: 500px;

  position: relative;

  .runner-logo {
    position: absolute;
    top: -20px;
    animation: runner-move linear 8s infinite;
    filter: invert(100%);

    @media (max-width: $mq-md-screen) {
      top: -40px;
      left: -50px;
      height: 100px;
    }

    @media (max-device-width: $mq-s-screen) {
      height: 140px;
      top: -50px;
      left: -40px;
    }
  }

  .text-logo {
    filter: drop-shadow(0 0 0.15rem orange);
    position: absolute;
    top: 10px;
    left: 10px;

    transition: all 0.3s;

    &:hover {
      filter: drop-shadow(0 0 0.35rem orange);
    }

    @media (max-width: $mq-md-screen) {
      margin-left: auto;
      margin-right: auto;
      height: 45px;
      left: -25px;
    }

    @media (max-device-width: $mq-s-screen) {
      width: 100%;
      height: 3em;
      left: 0;
      top: 0;
    }
  }

  @media (max-width: $mq-md-screen) {
    margin: 1em auto;
  }

  @media (max-device-width: $mq-s-screen) {
    margin-bottom: 1em;
    width: 100%;
  }
}

// Get smaller logo on footer
footer .home-link {
  transform: scale(80%);
}

/********************************/
/*  NAV-LINKS                   **/
/********************************/
ul {
  //border: 2px solid red; //REMOVEME
  display: flex;
  justify-content: space-between;

  li {
    list-style: none;
  }

  a {
    margin: 0 1em;
    color: white;
    text-decoration: none;

    font-size: 1.2rem;

    transition: color 0.5s;
    cursor: pointer;

    @media (max-width: $mq-md-screen) {
      font-size: 1.8rem;
    }

    @media (max-device-width: $mq-s-screen) {
      font-size: 2.5rem;
    }

    &:hover {
      color: orange;
    }
  }

  @media (max-width: $mq-md-screen) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    padding: 1em;
  }
}

/**************************************/
/*  BACKGROUND IMG TRICK  **/
/**************************************/

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  object-fit: cover;
}

/********************************/
/*  MAIN                       **/
/********************************/

main {
  //border: 8px solid purple; //REMOVEME
  display: flex;
  height: calc(100vh - 12em);
  justify-content: space-between;

  padding: 4.5em 8em;

  @media (max-width: $mq-md-screen) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: auto;
    padding: 2em 1em;
  }
}

.landing-page main {
  justify-content: space-around;
}

.home-left-content {
  width: 530px;
  margin-right: 4em;
  text-shadow: 0px 4px 5px black;

  @media (max-width: $mq-md-screen) {
    width: 400px;
    margin: 2em auto;

    font-size: 0.75rem;

    text-align: center;
    text-justify: inter-word;
  }

  @media (max-device-width: $mq-s-screen) {
    width: 100%;
    margin: 2em auto 4em;

    font-size: 2rem;
  }

  .man-running-svg {
    @media (max-width: $mq-md-screen) {
      width: 400px;
    }

    @media (max-device-width: $mq-s-screen) {
      width: 800px;
    }
  }
}

/********************************/
/*  FORM                       **/
/********************************/

form {
  width: 320px;
  box-shadow: 0px 3px 5px 1px lightgrey;

  margin-top: 8em;

  color: white;
  text-shadow: 0px 1px 2px black;

  background-image: $metalic-skin;
  display: flex;

  flex-direction: column;

  border-radius: 30px;
  padding: 2em;

  h4,
  label,
  input[type="text"] {
    margin-bottom: 1em;
  }

  [type="submit"] {
    width: 100%;
    padding: 0.5em 1em;
    margin-top: 2em;

    border: none;
    border-radius: 5px;

    background-image: $gradient-color;
    color: white;

    &:hover {
      outline: 2px solid orange;
    }

    @media (max-device-width: $mq-s-screen) {
      font-size: 1.5rem;
    }
  }

  [type="text"] {
    padding: 1em;

    color: black;
    text-shadow: none;
    border-radius: 5px;
    border: none;

    &::placeholder {
      color: lightgray;
      text-shadow: none;

      @media (max-device-width: $mq-s-screen) {
        font-size: 1.5rem;
      }
    }

    @media (max-device-width: $mq-s-screen) {
      padding: 2em;
    }
  }

  @media (max-width: $mq-md-screen) {
    margin-bottom: 4em;
  }

  @media (max-device-width: $mq-s-screen) {
    width: 100%;
    margin: 0 0 4em 0;

    font-size: 2rem;
  }
}

/***************************/
//       FOOTER
/***************************/

footer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6em;

  padding-right: 4em;

  background-image: $reverse-gradient-color;
  box-shadow: $bx-sh-lt;
  color: white;

  p {
    margin-bottom: 0.5em;

    @media (max-device-width: $mq-md-screen) {
      font-size: 1.5rem;
    }
  }

  .foot-license {
    @media (max-device-width: $mq-md-screen) {
      text-align: center;
      width: 400px;
      margin-bottom: 1em;
    }

    @media (max-device-width: $mq-s-screen) {
      width: 330px;
      margin-bottom: 1em;
    }

    img {
      @media (max-width: $mq-md-screen) {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //line-height: 2.5rem;
    box-shadow: none;

    background-image: none;

    a {
      font-size: 1rem;

      @media (max-device-width: $mq-md-screen) {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: $mq-md-screen) {
    height: auto;
    padding: 2em 4em 1.5em;
    flex-direction: column;
  }

  @media (max-device-width: $mq-s-screen) {
    padding: 2em 4em 1.5em;
    flex-direction: column;
  }
}

/***************************/
//       Animación del mensaje JS
/***************************/

#msg-cnt {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  padding: 0.5em 2em;

  position: fixed;
  bottom: 50%;
  left: 0;

  content: "";

  box-shadow: 0 0 5px 2px darkgray;

  opacity: 0;

  z-index: 5;

  border-left: 10px solid red;
  background-color: rgb(255, 184, 184);

  @media (max-device-width: $mq-s-screen) {
    font-size: 2rem;
  }
}

.appear-msg {
  animation: appear 8s linear;
}

@keyframes appear {
  0% {
    visibility: visible;
    opacity: 0;
    left: 0;
  }

  25% {
    opacity: 0.5;
    left: 20%;
  }

  50% {
    left: 40%;
    opacity: 1;
  }

  75% {
    opacity: 0.5;
    left: 70%;
  }

  100% {
    opacity: 0;
    left: 0;
  }
}

/***********************/
//       Animación SVG corredor
/***********************/

.front-leg {
  transform-box: fill-box;
  animation: front-leg-move linear 1.5s infinite;
}

.rear-leg {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: rear-leg-move linear 1.5s infinite;
}

.sweat {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: sweating ease-in-out 1.5s infinite;
}

@keyframes front-leg-move {
  0% {
    transform: rotate(-10deg) translate(-20px, 0px);
  }
  50% {
    transform: rotate(85deg) translate(-10px, -60px);
  }
  100% {
    transform: rotate(-15deg) translate(-20px, 0px);
  }
}

@keyframes rear-leg-move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-80deg) translate(0px, 180px);
  }
  100% {
    transform: rotate(0deg);
  }
}

/***********************/
//       Animación icono corredor logo
/***********************/

@keyframes runner-move {
  0% {
    transform: translateX(0px) scale(20%);
    opacity: 0.3;
  }

  50% {
    transform: translateX(16em) scale(80%);
    opacity: 1;
  }

  100% {
    transform: translateX(28em) scale(10%);
    opacity: 0;
  }
}

@keyframes sweating {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }

  to {
    transform: translate(0px, 35px);
    opacity: 1;
  }
}
