@import "./variables.scss";

/*************************************/
/*  CHANGING IMG IN BACKGROUND    **/
/*************************************/

.pagina-presentacion .bg {
  opacity: 0.5;
}

.pagina-presentacion main {
  justify-content: space-around;
  height: auto;

  @media (max-device-width: $mq-s-screen) {
    padding: 4em;
  }
}

/*************************************/
/*  SOBRE MI (ZONA IZQUIERDA)       **/
/*************************************/
.about-me {
  min-width: 330px;
  max-width: 330px;
  margin-right: 2em;
  margin-bottom: 2em;

  h1 {
    margin: 0.5em;

    text-align: center;
  }

  .personal-info {
    margin-bottom: 1em;
    padding: 1.2em;
    border-radius: 10px;

    background-image: $gradient-color;

    p span {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0.5em;
    }
  }

  .erik-photo {
    width: 280px;
    height: 280px;
    margin: -1em auto 2em auto;

    background-image: url("../assets/img/erik-johnson.jpg");
    background-position: 55% 55%;
    background-size: cover;

    clip-path: polygon(50% 0%, 66% 26%, 98% 35%, 77% 60%, 79% 91%, 50% 74%, 21% 91%, 23% 59%, 2% 35%, 33% 28%);
    box-shadow: 0 0 5px 1px white;
    transition: 0.6s transform;

    &:hover {
      transform-style: preserve-3d;
      transform: rotateX(45deg) scale(110%);
    }
    @media (max-device-width: $mq-s-screen) {
      width: 380px;
      height: 380px;
    }
  }

  .erik-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }

  h2 {
    margin-bottom: 0.5em;
    text-align: center;
  }

  @media (max-width: $mq-md-screen) {
    max-width: 550px;
    margin-right: 0;
  }

  @media (max-device-width: $mq-s-screen) {
    min-width: 100%;
    margin-bottom: 2em;

    font-size: 1rem;
  }
}

/*************************************/
/*  ARTICLE: EXPLANATION (DERECHA)  **/
/*************************************/
.explanation {
  min-width: 600px;
  max-width: 600px;
  border-radius: 0 50px 0 100px;
  background-image: $terrain-color;

  padding: 2em 4em;

  p {
    margin-bottom: 2em;
  }

  h3 {
    margin-bottom: 1em;
    opacity: initial;
  }

  iframe {
    display: block;
    margin: 0 auto;
    width: 100%;

    margin-bottom: 1em;
  }

  @media (max-width: $mq-md-screen) {
    margin: 0;
    padding: 1em 3em;
  }

  @media (max-device-width: $mq-s-screen) {
    min-width: 100%;
    font-size: 1.8rem;
  }
}

/********************************/
/*  RRSS                        **/
/********************************/
.social-networks {
  display: flex;
  justify-content: center;

  margin-bottom: 1em;

  background-image: $reverse-gradient-color;
  border-radius: 10px;
  font-size: 2em;

  i {
    margin-left: 0.5em;
    margin-right: 0.5em;

    color: white;

    transition: color 0.2s;
  }

  i:hover {
    color: orange;
  }

  @media (max-device-width: $mq-s-screen) {
    padding: 0.5em 0;
  }
}
