$gradient-color: linear-gradient(black, rgb(104, 104, 104));

$reverse-gradient-color: linear-gradient(rgb(104, 104, 104), black);

$blue-gradient-color: linear-gradient(45deg, steelblue, darkgray);

$terrain-color: linear-gradient(45deg, #be7a50d8, #a86741ce, #f5ad65ce);

$orange-skin: linear-gradient(to right, orange, #fff7b5);

$metalic-skin: linear-gradient(45deg, grey, white, grey);

$mq-s-screen: 670px;

$mq-md-screen: 1000px;

$mq-xl-screen: 1200px;

$bx-sh-lt: 0 0 5px 2px lightgrey;
$bx-sh-bw: 0 0 3px 2px maroon;
$bx-sh-og: 0 2px 6px 2px orange;

.st0 {
  fill: #808080;
}
.st1 {
  fill: #4d4d4d;
}
.st2 {
  fill: #999999;
}
.st3 {
  fill: #cccccc;
}
.st4 {
  fill: #e6e6e6;
}
.st5 {
  fill: #666666;
}
.st6 {
  fill: #ffffff;
}
.st7 {
  fill: #f2f2f2;
}
.st8 {
  fill: #f8c09d;
}
.st9 {
  fill: #1b965b;
}
.st10 {
  fill: #14844c;
}
.st11 {
  fill: #1561a0;
}
.st12 {
  fill: #22b573;
}
.st13 {
  fill: #065082;
}
.st14 {
  fill: #f6ae8d;
}
.st15 {
  fill: #333333;
}
.st16 {
  fill: #ef937e;
}
