<footer>
  <div class="foot-license">
    <p>PEC1 HTML/CSS Tools. Autor: Dionisio García García</p>

    <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      ><img alt="Licencia de Creative Commons" style="border-width: 0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
    /></a>
  </div>

  <div class="nav-item">
    <ul>
      <li><a href="./salidas.html">Salidas</a></li>
      <li><a href="./presentacion.html">Presentación</a></li>
      <li><a href="./enlaces.html">Enlaces</a></li>
    </ul>
  </div>
</footer>
