<header>
  <a href="./index.html" class="home-link">
    <div class="logo-container">
      <img class="runner-logo" src="./assets/img/svg/running-icon.svg" alt="Icono-logotipo corredor" height="80" />
      <img class="text-logo" src="./assets/img/logo-vector.svg" alt="Texto de logotipo de home" height="38" />
    </div>
  </a>

  <nav class="nav-item">
    <ul>
      <li><a href="./salidas.html">Catálogo de salidas</a></li>
      <li><a href="./presentacion.html">Sobre mi</a></li>
      <li><a href="./enlaces.html">Atribuciones de contenidos</a></li>
    </ul>
  </nav>
</header>
